@mixin button {
  .btn_primary {
    display: inline-block;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 4px;
    border: 1px solid $pink_color;
    background-color: $pink_color;

    @include text_property(
      $font_family: $font_family_Primary,
      $font_size: $font_size_body_14,
      $font_weight: $font_weight_medium,
      $line_height: $lh_base,
      $text_color: $text_color_secondary_white
    );
    &:focus {
      box-shadow: none;
    }
    .icon {
      font-size: $font_size_caption_12;
      margin-left: 3px;
    }
  }
}
