@mixin comments {
  .comments_list {
    .header {
      @include text_property(
        $font_family: $font_family_Primary,
        $font_size: $font_size_title_20,
        $font_weight: $font_weight_semi_bold,
        $line_height: $lh_sm,
        $text_color: $text_color_secondary
      );
    }
    .date {
      @include text_property(
        $font_family: $font_family_Primary,
        $font_size: $font_size_body_14,
        $font_weight: $font_weight_normal,
        $line_height: $lh_sm,
        $text_color: $text_color_body
      );
    }
    .paragraph {
      @include text_property(
        $font_family: $font_family_Primary,
        $font_size: $font_size_body_14,
        $font_weight: $font_weight_normal,
        $line_height: $lh_sm,
        $text_color: $text_color_body
      );
    }

    @include button;
    .btn_primary {
      padding: 14px 24px;
    }
    .btn_cancel {
      &:focus {
        box-shadow: none;
      }
    }

    .reply_form {
      @include form_control;
      @include button;
      .btn_primary {
        padding: 14px 24px;
      }
    }
  }
}
