@mixin link_button {
  .action {
    .link {
      display: inline-block;
      text-decoration: none;
      padding: 12px 32px;
      border-radius: 4px;
      background-color: $pink_color;
      border: 1px solid $pink_color;

      @include text_property(
        $font_family: $font_family_Primary,
        $font_size: $font_size_body_14,
        $font_weight: $font_weight_medium,
        $line_height: $lh_base,
        $text_color: $text_color_secondary_white
      );

      .icon {
        font-size: $font_size_caption_12;
        margin-left: 3px;
      }
    }
  }
}
