@mixin form_check {
  .form-check {
    margin-bottom: 20px;
    .form-check-input {
      margin-right: 8px;
    }
    label {
      display: block;
    }
  }
  .form-check-input {
    width: 18px;
    height: 18px;
    &:checked {
      background-color: $pink_color;
      border-color: $pink_color;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .form-check-label {
    @include text_property(
      $font_family: $font_family_Primary,
      $font_size: $font_size_subtitle_16,
      $font_weight: $font_weight_normal,
      $line_height: 1.8,
      $text_color: $text_color_secondary
    );
  }
}
